p {margin: 20px;color: black;text-align: justify;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: medium;}
h1 {color: rgb(192,21,21);text-align: center;font-family: fantasy;font-size: 60px}


